<!--

見たわね👁👁

-->
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="github-markdown.css" rel="stylesheet" type="text/css">
    <link href="https://misskey.noellabo.jp/@highunder" rel="me" />
    <title>{{page.title}} - highunder</title>
    <link rel="icon" href="https://avatars.githubusercontent.com/u/117166996" />
  </head>
  <body>
{{content}}
    <a href="2023-12_ad01.html"><img src="2023-12_ad01.webp" alt="広告募集中">
  </body>
</html>
