<!--

見たわね👁👁

-->
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="github-markdown-dark.css" rel="stylesheet" type="text/css">
    <link href="https://mstdn.jp/@highunder" rel="me" />
    <link href="https://misskey.noellabo.jp/@highunder" rel="me" />
    <title>{{page.title}} - highunder</title>
    <link rel="icon" href="https://avatars.githubusercontent.com/u/117166996" />
  </head>
  <body>
    <video autoplay loop playsinline src="ad.webm">広告募集中</video>
{{content}}
  </body>
</html>
